.checks {
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.checks .title {
    color: #4e4e4e;
    font-weight: bold;
    font-size: 40px;
    text-shadow: -4px 5px 2px #ccc;
    text-transform: capitalize;
    border-bottom: 1px solid #CCC;
    margin-bottom: 2rem;
    padding: 11px;
}

.checks  .checks-container {
    max-width: 1170px;
    margin: auto
}
.checks  .checks-container .table-checks {
    background-color: #fff;
    margin: 1rem auto;
    padding-bottom: 5px;
    padding: 33px;
    border-radius: 12px;
}
.checks  .checks-container .table-checks .head {

    font-weight: bold;
    padding: 0.5rem 0.88rem;
    background-color: #c39b51;
    color: #fff;
}
.checks  .checks-container .table-checks .body {
    color: #8f8585;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.table.table-bordered.table-hover td {
    cursor: pointer;
}
.order-details ,.user-details {
    display: flex;
    flex-wrap: wrap;

}
.order-details {
    height: 0px;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.5s;
}
.wrapper.active .order-details {
    transform: scaleY(1);
    height: auto;
}
tr.active{
    background-color: #a5a5a5 !important;
}