.orders {
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.orders .container-orders {
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 99;
}
.orders .container-orders .title {
  color: #4e4e4e;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}
.orders .container-orders .table {
  border: 1px solid #8b8b8b;
}
.orders .container-orders th {
  background-color: #4e4e4e !important;
  color: #e1e1e1 !important ;
  padding: 0.75rem 0.5rem;
}
.orders .container-orders td {
  color: #4e4e4e !important ;
  padding: 0.75rem 0.5rem;
}
.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: transparent !important;
  color: var(--bs-table-hover-color);
}

.orders .container-orders td  .orders-status {
  
}
