.products {
    padding-top: 3rem;
    padding-bottom: 3rem;

}
.products .title {
    color: #3c3c3c;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.products .table {
    background-color: #fff;
 
 
}
.products .table th {
    background: #3c3c3c;
    color: #fff;
    border-width: 0px !important; 
    padding: 0.9rem 1.2rem !important;
 

}

.products .table th,
.products .table td {
    padding: 0.5rem 1.2rem;
    text-align: center;
    vertical-align: middle;
}
.products .table img{

    width: 50px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;

}
.products .table td .btn {
    
    margin-right: 16px;
    padding: 4px 19px;

}