.products-admin {
  padding-bottom: 3rem;
  width: 100%;
  margin: 22px auto;
}
.products-admin .container-products {
  width: 100%;
  margin: 0 auto;
}
.products-admin .btn.add {
  background-color: #4e4e4e !important;
  border: none;
  transition: all 0.5s;
}
.products-admin .btn.add:hover {
  background-color: #4e4e4e !important;
}
.products-admin .title {
  color: #4e4e4e;
  font-weight: bold;
  font-size: 40px;
  text-shadow: -4px 5px 2px #ccc;
  text-transform: capitalize;
  border-bottom: 1px solid #CCC;
  margin-bottom: 2rem;
  padding: 11px;
}
.products-admin .table {
  background-color: #fff;
}
.products-admin .table th {
  background: #4e4e4e;
  color: #fff;
  border-width: 0px !important;
  padding: 0.9rem 1.2rem !important;
}

.products-admin .table th,
.products-admin .table td {
  padding: 0.5rem 1.2rem;
  text-align: center;
  vertical-align: middle;
}
.products-admin img {
  height: 329px;
  object-fit: cover;

}
.products-admin .table td .btn {
  margin-right: 16px;
  padding: 4px 19px;
}
