.orders {
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.orders .container-orders {
    max-width: 1000px;
    margin: auto
}
.orders .btn.add {
    background-color: #b18137 !important;
    border: none;
    transition: all 0.5s;
}
.orders .btn.add:hover {
    background-color: #93692a !important;
}
.orders .title {
    color: #3c3c3c;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.orders .table {
    background-color: #fff;
 
}
.orders .table th {
    background: #3c3c3c;
    color: #fff;
    border-width: 0px !important; 
    padding: 0.9rem 1.2rem !important;
 

}

.orders .table th,
.orders .table td {
    padding: 0.5rem 1.2rem;
    text-align: center;
    vertical-align: middle;
}
.orders .table td {
    color: #7a7a7a !important;
}
.orders .table img {
    width: 50px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;

}
.orders .table td .btn {
    
    margin-right: 16px;
    padding: 4px 19px;

}