.product-card {

    background-color: #fffee9;
    border-radius: 30px;
    margin: 10px;
    width: 13rem;
}

.add {
    background-color: #452115;
}

.product-card-image {

    padding: 30px;
    height: 150px;
}

.actions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mybtn {
    background-color: #452115;
    color: aliceblue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    width: 40px;
    display: inline-block;
    font-size: 16px;
}

.mybtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #a59089;
}