.add-product {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.add-product .form{
    padding: 1.5rem 1.2rem;
    max-width: 800px;
    background-color: #fff;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
.add-product .form .custom-file {
    position: relative;
    width: 147px;
    background-color: #bd9349;
    color: #fff;
    padding: 1.3rem 0.5rem;
} 
.custom-file span {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
  .custom-file input[type='file'] {
    opacity: 0; 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0px;
    left: 0px;
    cursor: pointer;

}
