.navbar .nav-link.active {
    color: #4f1019;
}
.navbar .nav-link:hover {
    color: #4f1019!important;
}

.navbar .admin {
    border: 1px solid #ccc;
    padding: 0.3rem 1.7rem 0px 1rem;
    cursor: pointer;
    color: #aa772e;
    position: relative;
}
.navbar .admin img {
    width: 39px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
}
.navbar .admin .role {
    color: #aa772e;
    text-decoration: none;
}
.navbar .admin  .fa {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}
  