.navbar {
    position: fixed !important;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 14px;
    padding-bottom: 14px;

}
.navbar .logo {
    background-image: url('../../../assests/img/main-0١.png');
    background-size: cover;
    background-position: center;
    width: 76px;
    height: 52px;
    background-repeat: no-repeat;
}
.navbar .nav-link.active {
  color: #4e4e4e;
}
.navbar .nav-link:hover {
  color: #4e4e4e !important;
}

.navbar .admin {
    padding: 0.3rem 1.7rem 0px 1rem;
    cursor: pointer;
    color: #aa772e;
    position: relative;
}
.navbar .admin img {
  width: 39px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}
.navbar .admin .role {
    color: #525252;
    text-decoration: none;
}
.navbar .admin .role .logout {
    color: #cbc9c9;
    text-decoration: none;
}
