.productsDetails {
    font-weight: bold;
    padding: 0.5rem 0.88rem;
    background-color: #c39b51;
    color: #fff;
    border-radius: 30px;
    margin: 30px;
    width: 35%;
    height: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 70px;
    min-height: 200px;

}

.Adminorders {
    min-height: 200px;
}

.products {


    width: 65%;
    height: 100%;
    border-color: #c39b51;
    border-radius: 30px;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.odrerItem {


    border-color: #cecbc5;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}



.container {
    width: 100%;

    display: flex;
}

.mybtn {
    background-color: #452115;
    color: aliceblue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    width: 40px;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}

.mybtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #a59089;
}