.product-admin {
    padding-top: 3rem;
}
.product-admin .toggle-bar {
    background-color: #4e4e4e;
    width: 32px;
    height: 29px;
    text-align: center;
    line-height: 31px;
    position: absolute;
    right: -32px;
    cursor: pointer;

}
.product-admin .toggle-bar .fa {
    transform-origin: 50% 50% ;
    animation: animate-toggle 3s linear infinite ;
}
.product-admin .products-details {
    font-weight: bold;
    padding: 0.5rem 0.88rem;
    background-color: #404040;
    color: #fff;
    border-radius: 0.3125rem;
    text-align: center;
    padding: 42px 18px;
    width: 399px;
    position: fixed;
    top: 56px;
    height: 100%;
    left: -398px;
    transition: all 0.5s;
    border-right: 1px solid #e7e7e7;
    border-radius: 0px;
}
 
.product-admin .products-details.active-sidebar {
    left: 0px;
}
.product-admin .products-details .title {
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 1.2rem;
    position: relative;
    margin-left: 5px;
    color: #e5e5e5;
    font-size: 2.2rem;
}
.product-admin .products-details th {
    color: #bdbdbd;
    font-weight: 500;
    border-width: 0px !important;
    border-bottom: 1px solid #e9e9e9 !important;
}
.product-admin .products-details tbody tr:not(:last-child) td {
    border-bottom: 1px solid #e9e9e9 !important;

}
.product-admin .products-details td,
.product-admin .products-details th {
    padding: 11px 7px;
    color: #b9b9b9;
    font-weight: 500;
}
.product-admin .products-details .no-product {
    text-align: left;
    padding: 28px 0px;
    color: #c6c6c6;
    font-size: 0.9rem;
}
.product-admin .products-details .container-comment {
    margin-top: 23px;
}
.product-admin .products-details .container-comment textarea {
    height: 160px;
    resize: none;   
    transition: all 0.5s;
}
.product-admin .products-details textarea:hover {
    box-shadow: 0px 0px 16px #0a58ca6b

}
.product-admin .products-details .form-floating > label {
    color: #c5c5c5;
    font-weight: 500;
}
.product-admin .products-details .btn-confirm {
    display: block;
    /* width: 100%; */
    padding: 7px 41px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    margin-top: 1.3rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    background: #0a58ca;
}
.product-admin .products-details .btn-confirm:hover {
    background-color: #04419b;
}
.product-admin .products {
    width: 65%;
    height: 100%;
    border-color: #c39b51;
    border-radius: 30px;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0px !important;
}
.product-admin .products .product-box {
    flex: 0 0 calc(100% / 4);
    transition: all 0.5s;
}
.product-admin .products .product-box .product-card {
    width: 100% !important;
}
.product-admin .product-content .form-select {
    width: 30%;
    margin-left: auto;
    margin-right: 5rem;
}
.product-admin .odrerItem {

    border-color: #cecbc5;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product-admin .total {
    font-weight: 500;
    padding: 0.5rem 0.88rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.product-admin .product-control {
    color: aliceblue;
    border: none;
    display: inline-block;
    background-color: #452115;
    margin-right: 3px;
    color: #fff !important;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;

}
.table-responsive {
    max-height: 198px;
    overflow-y: auto;
}
.product-admin .product-content {
    padding-left: 0px;
    transition: all 0.5s;
}
.product-admin .product-content.active-content {
    padding-left: 386px;
}
.product-admin .product-content.active-content .product-card {
    margin: 0px !important ;
    width: 100% !important;
}
.product-admin .product-content.active-content .product-box {
    flex: 0 0 calc(100% / 3)  !important;
}
.product-card img {
    height: 250px;
    width: 100%;
    padding: 0px !important;
    
}
.product-card .card-title {
    color: #7f7f7f;
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 20px;
}
.product-card .card-body {
    padding-bottom: 4rem;
}
.product-card .price {
    color: #a7a7a7;
    font-weight: 500;
    text-align: right;
    font-size: 1rem;
}
.product-card .action-add {
    margin-top: 2.5rem
}
.product-card .action-add button {
    background-color: #4e4e4e;
    color: #fff;
    padding: 7px 34px;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
    transition: all 0.5s;;
}
.product-card .action-add button:hover {
    background-color: #2e2e2e;
}
/* Sidebar Togglebar animation */
@keyframes animate-toggle {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
    }

}
    