* {
  box-sizing: border-box;
}
body {
  background-color: #f6f8fa !important;
  margin: 0;
  font-family: "Abril Fatface", cursive;
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 70px;
}
